<div class="modal-backdrop" (click)="onClose()">
  <div class="modal" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="onClose()" data-cy="close-modal">✕</button>

    <div class="modal-content" *ngIf="product">
      <img class="product-large-img" [src]="product.image" alt="{{ product.name }}" />

      <div class="info">
        <h2 data-cy="modal-name">{{ product.name }}</h2>
        <p class="price" data-cy="modal-price">₹{{ product.price.toFixed(2) }}</p>

        <p class="desc" data-cy="modal-desc">{{ product.description }}</p>

        <button class="buy-btn">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

